<!DOCTYPE html>
<html>

  <head>
    <title>Tubuyaku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="header_menu">
        <li class="header_list"><%= link_to 'tubuyaku', top_tweets_path%></li>
        <li class="header_list"><%= link_to '新しくつぶやく', new_tweet_path %></li>
        <li class="header_list"><%= link_to '投稿一覧', tweets_path %></li>
      </ul>

    </header>
    <%= yield %>
    <footer>©Copyright 2020 kusano. All rights reserved.</footer>
  </body>
</html>
